@import "./user";

article {
  padding: $padding;
  gap: $gap-2;
  border-radius: calc($baseFontSize * 0.5);
  display: grid;
    position: relative;

    & .quotation-icon {
        position: absolute;
        right: $baseFontSize;
        top: $baseFontSize;
        z-index: 0;
    }

  & blockquote {
    display: grid;
    gap: $gap-2;
    position: relative;
    z-index: 1;

    & > h2 {
      font-size: calc($baseFontSize * 1.6);
      width: 100%;
      word-break: keep-all;
    }

    & > p {
      margin-top: calc($padding * .25);
      opacity: $paragraphOpacity;
      font-size: calc($baseFontSize * 1.08);
      line-height: calc($baseFontSize * 1.5);
    }
  }

  &.article {
    &--1 {
      background-color: $color-1;
      color: $neutral-2;
    }
    &--2 {
      background-color: $color-2;
      color: $neutral-2;
    }
    &--3,
    &--5 {
      background-color: $color-4;
      color: $color-2;
    }
    &--4 {
      background-color: $color-3;
      color: $neutral-2;

      & .user__img {
        background-color: $color-1;
      }
    }
  }
}
